# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.html -f
# RewriteRule ^(.*)$ $1.html [L]


DirectoryIndex disabled
RewriteEngine On
RewriteRule ^$ http://127.0.0.1:3001/ [P,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://127.0.0.1:3001/$1 [P,L]



# pm2 start npm --name "your-app-name" -- start -- -p 3001

# install
# build
# pm2 start npm --name "your-app-name" -- start -- -p 3001